{% extends base_template %}

{% load i18n %}


{% block content %}

<div class="container">
  <h1 class="h2 subtitle">
    {% translate 'Account' %}</h1>

  <h3>{{user.username}} - {{ user.email }}</h3>
  {% translate 'id:' %}  {{ user.id }}
      <hr>
  <p>
     <a class="button is-primary m-2" href="{% url '_users:change_username' %}">{% translate 'Change my Username' %}</a>

     <a class="button is-primary m-2" href="{% url '_users:change_email' %}">{% translate 'Change my email' %} </a>

     <a class="button is-primary m-2" href="{% url '_users:change_password' %}">{% translate 'Change my password' %}</a>
  </p>


</div>
{% endblock content %}