
{% extends '_base.html' %}
{% load static %}

{% block content %}

<div class="container-mini">

  <a class="navbar-item" href="{% url 'site:home' %}">
    <div class="subtitle">>>> sites</div>
  </a>
  <span>
    <div class="right">
      <span>
        <form action="{% url 'site:delete_project' project_id=project.id %}" method="POST">
          {% csrf_token %}
          <a href="{% url 'site:edit_project' project_id=project.id %}" class="button is-primary is-small">Edit</a>
          <div id="delete" class="button is-warning is-small ml-2">delete</div>
          <input type="submit" value="Confirm" disabled id="confirm" class="button is-danger is-small ml-2" onclick="confirm_clicked(event);">

        </form>
      </span>
    </div>


  </span>

  <div class="box mt-2">

    <div>
      <span class="title is-4">{{ project.name }}</span>
      <a href="http://{{ link }}" target="blank" class="is-pulled-right">
        {{ link }}
      </a>
    </div>
    {{ project.description }}
  </div>
  <div class="box">
    <div class="columns">
      <div class="column">
        <form method="post" action="{% url 'site:create_subfolder' project.id %}">
          {% csrf_token %}
          <input name="folder_name" type="text" placeholder="Folder name" style="height: 1.8rem;">
          <input type="hidden" name="path" value="{{ project_path }}">
          <input type="submit" value="+ Folder" class="button is-small">
        </form>
      </div>
      <div class="column">
        <form action="{% url 'site:add_file' project.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="file" class="button is-small">
          <input type="hidden" name="path" value="{{ project_path }}">
          <input type="submit" value="+ File" class="button is-small">
        </form>

      </div>

      <div class="column">
        {% if content %}
        <form action="{% url 'site:delete_all' project.id %}" method="post" class="right">
          {% csrf_token %}
          <span class="right">
            <input type="submit" class="button is-danger is-small" value="delete all">
          </span>
        </form>
        {% else %}
        <form action="{% url 'site:add_zip_file' project.id %}" method="post" class="right" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" class="button is-small" name="zip_file" placeholder="Slide the file here">
          <input type="submit" value="+ ZIP file" class="button is-small is-info">
        </form>
        {% endif %}

      </div>
    </div>


    <hr>
    root/
    <div class="folder-border">
      {% with project=project filenameform=filenameform %}
        {% include 'site/components/_folder_content.html' %}
      {% endwith %}
    </div>

  </div>
</div>

<script>
  let delete_button = document.getElementById('delete');
  let confirm_button = document.getElementById('confirm');

  function confirm_clicked(event) {
    if (confirm_button.hasAttribute('disabled')) {
      event.preventDefault();
      return;
    }
  }

  delete_button.addEventListener('click', function() {
    if (confirm_button.hasAttribute('disabled'))
      confirm_button.removeAttribute('disabled');
    else
      confirm_button.setAttribute('disabled', 'disabled');
  });
</script>

<style scoped>
.container-mini {
  max-width: 1400px;
  margin: 0 auto;
}
.right {
  text-align: right;
  margin-left: auto;
}

.folder {
  font-size: 1.4rem;
  font-weight: bold;
  background-color: lightgray;
}

.folder-border {
  border: 2px solid gray;
  margin: 3px;
  margin-left: 20px;
  padding: 4px;
}

.file {
  font-size: 1.2rem;
}

.file:hover {
  background-color: rgba(0, 146, 139, 0.5);
}

</style>


{% endblock content %}